{% extends 'header.html'%}
{% block title%}Các khóa học mới{% endblock title%}
{% block content %}
{% load static %}
{% load humanize %}

<main>

   <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay" data-background="{% static 'assets/img/breadcrumb/breadcrumb-bg-1.jpg'%}" style="background-image: url(&quot;assets/img/breadcrumb/breadcrumb-bg-1.jpg&quot;);">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="breadcrumb__content p-relative z-index-1">
                  <h3 class="breadcrumb__title mb-20">Tin Tức</h3>
                  <div class="breadcrumb__list">
                     <span><a href="index.html">Trang chủ</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span class="sub-page-black">Tin tức</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
    
    <!-- postbox area start -->
    <div class="postbox__area pt-40 pb-40 wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
       <div class="container">
          <div class="row">
             <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-12">
                <div class="postbox__wrapper pr-20">
                {% for item in all_blog %}
                    <article class="postbox__item format-image mb-60 transition-3">
                        <div class="postbox__thumb w-img mb-30">
                            <a href="{% url 'blog:blog_details' item.slug %}">
                                <img src="/media/{{item.image}}" alt="{{item.title}}">
                            </a>
                        </div>
                        <div class="postbox__content">
                            <div class="postbox__meta">
                                <span><i class="fi fi-rr-calendar"></i>{{item.created}}</span>
                                <span><a href="#"><i class="fi fi-rr-user"></i> admin</a></span>
                            </div>
                            <h3 class="postbox__title">
                                <a href="{% url 'blog:blog_details' item.slug %}">{{item.title}}</a>
                            </h3>
                            <div class="postbox__text">
                                <p>Shotr des</p>
                            </div>
                            <div class="postbox__read-more">
                                <a href="{% url 'blog:blog_details' item.slug %}" class="tp-btn">Đọc tiếp</a>                               
                            </div>
                        </div>
                    </article>
                {% endfor %}
                   <div class="basic-pagination">
                      <nav>
                         <ul>
                            <li>
                               <a href="blog.html">
                                  <i class="far fa-angle-left"></i>
                               </a>
                            </li>
                            <li>
                               <span class="current">1</span>
                            </li>
                            <li>
                               <a href="blog.html">2</a>
                            </li>
                            <li>
                               <a href="blog.html">3</a>
                            </li>
                            <li>
                               <a href="blog.html">
                                  <i class="far fa-angle-right"></i>
                               </a>
                            </li>
                         </ul>
                      </nav>
                   </div>
                </div>
             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-12">
                <div class="sidebar__wrapper">
                   <div class="sidebar__widget mb-55">
                      <div class="sidebar__widget-content">
                         <h3 class="sidebar__widget-title mb-25">Tìm kiếm</h3>
                         <div class="sidebar__search">
                            <form action="#">
                               <div class="sidebar__search-input-2">
                                  <input type="text" placeholder="">
                                  <button type="submit"><i class="far fa-search"></i></button>
                               </div>
                            </form>
                         </div>
                      </div>
                   </div>
                   <div class="sidebar__widget mb-55">
                      <h3 class="sidebar__widget-title mb-25">Tin tức gần đây</h3>
                      <div class="sidebar__widget-content">
                         <div class="sidebar__post rc__post">
                            <div class="rc__post mb-20 d-flex align-items-center">
                               <div class="rc__post-thumb">
                                  <a href="blog-details.html"><img src="assets/img/blog/sidebar/blog-sm-1.jpg" alt="blog-sidebar"></a>
                               </div>
                               <div class="rc__post-content">
                                  <h3 class="rc__post-title">
                                     <a href="blog-details.html">Seamlessly monetize centa material bleeding.</a>
                                  </h3>
                                  <div class="rc__meta">
                                     <span>21 Jan 2022</span>
                                  </div>
                               </div>
                            </div>
                            <div class="rc__post mb-20 d-flex align-items-center">
                               <div class="rc__post-thumb">
                                  <a href="blog-details.html"><img src="assets/img/blog/sidebar/blog-sm-2.jpg" alt="blog-sidebar"></a>
                               </div>
                               <div class="rc__post-content">
                                  <h3 class="rc__post-title">
                                     <a href="blog-details.html">How often should you schedule professional</a>
                                  </h3>
                                  <div class="rc__meta">
                                     <span>July 21, 2021</span>
                                  </div>
                               </div>
                            </div>
                            <div class="rc__post mb-20 d-flex align-items-center">
                               <div class="rc__post-thumb">
                                  <a href="blog-details.html"><img src="assets/img/blog/sidebar/blog-sm-3.jpg" alt="blog-sidebar"></a>
                               </div>
                               <div class="rc__post-content">
                                  <h3 class="rc__post-title">
                                     <a href="blog-details.html">How to keep your institue and home Safe</a>
                                  </h3>
                                  <div class="rc__meta">
                                     <span>July 21, 2021</span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="sidebar__widget mb-40">
                      <h3 class="sidebar__widget-title mb-10">Category</h3>
                      <div class="sidebar__widget-content">
                         <ul>
                            <li><a href="blog.html">Business <span>(14)</span></a></li>
                            <li><a href="blog.html">Cleaning <span>(19)</span></a></li>
                            <li><a href="blog.html">Consultant <span>(21)</span></a></li>
                            <li><a href="blog.html">Creative <span>(27)</span></a></li>
                            <li><a href="blog.html">Technology <span>(35)</span></a></li>
                         </ul>
                      </div>
                   </div>
                   <div class="sidebar__widget mb-40">
                      <h3 class="sidebar__widget-title mb-30">Tags</h3>
                      <div class="sidebar__widget-content">
                         <div class="tagcloud">
                            <a href="#">IT Solution</a>
                            <a href="#">Digital Marketing</a>
                            <a href="#">Software Training</a>
                            <a href="#">Art &amp; Design</a>
                            <a href="#">Photography</a>
                            <a href="#">Music</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- postbox area end -->         


 </main>

{% endblock content %}