{% extends 'header.html'%}
{% block title%}E-Learning Khóa học online{% endblock title%}
{% block content %}
{% load static %}
<main>
      <!-- slider-a  rea -->
      <section class="slider-area">
         <div class="slider-active slider-arrow">
            <div class="slider-item slider-bg-height d-flex align-items-center p-relative" data-background="{% static 'assets/img/slider/slider-bg-01.jpg' %}">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-7 col-lg-7 col-12">
                        <div class="slider-content">
                           <span class="slider-text mb-15">Marketing từ căn bản đến chuyên sâu</span>
                           <h2 class="slider-title mb-65">Học và hiểu đúng về Marketing.</h2>
                           <div class="slider-btn">
                              <a class="tp-btn mr-5" href="course-list.html">Khám phá các khóa học</a>
                              <a class="tp-s-border-btn" href="course-list.html">Xem video demo</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slider-item slider-bg-height d-flex align-items-center p-relative" data-background="{% static 'assets/img/slider/slider-bg-02.jpg' %}">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-7 col-lg-7">
                        <div class="slider-content">
                           <span class="slider-text mb-15">Tin học văn phòng</span>
                           <h2 class="slider-title mb-65">Thành Thạo Tin Học Văn Phòng Word-Excel-Powerpoint</h2>
                           <div class="slider-btn">
                              <a class="tp-btn mr-5" href="course-list.html">Khám phá các khóa học</a>
                              <a class="tp-s-border-btn" href="course-list.html">Xem video demo</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- slider-area-end -->

      <!-- brand-area -->
      <section class="brand-area pt-110 pb-70">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title mb-65 text-center">
                     <h2 class="tp-section-title mb-20">ĐỐI TÁC CHÍNH THỨC</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12">
                  <div class="brand-area tp-brand-active">
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-01.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-02.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-03.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-04.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-05.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-01.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-02.png' %}" alt="brand-logo"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- brand-area-end -->

      <!-- catrgory-area -->
      <section class="category-ractangle-area pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-01.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Thiết kế đồ họa</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-02.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Phát triển bản thân</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-03.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Marketing</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-04.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Lập trình - CNTT</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-05.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Dựng hình Video</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-06.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Văn phòng</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-07.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Nhiếp ảnh</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-08.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.htmcourse-details.html">Âm nhạc - Nhạc cụ</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- catrgory-area-end --> 
      
      <!-- course-area -->
      <section class="course-wrap-area bg-bottom grey-bg pt-115 pb-60" data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-xl-6 col-lg-8 col-md-8">
                  <div class="section-title mb-65">
                     <span class="tp-sub-title-box mb-15">Danh sách khóa học</span>
                     <h2 class="tp-section-title mb-20">Khóa học nổi bật</h2>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-4 col-md-4">
                  <div class="tp-course-btn mb-40 d-flex justify-content-md-end">
                     <a class="tp-btn" href="#">Xem tất cả các khóa học</a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 col-md-12">
                  <div class="tpcourse tp-wrap-course mb-40">
                     <div class="row">
                        <div class="col-xl-4 tpcourse-thumb-w">
                           <div class="tpcourse__thumb p-relative w-img fix">
                              <a href="course-details.html"><img src="{% static 'assets/img/course/course-img-01.jpg' %}" alt="course-thumb"></a>
                           </div>
                        </div>
                        <div class="col-xl-8 tpcourse-thumb-text">
                           <div class="tp-wrap-course__content ml-5">
                              <div class="tp-wrap-course__heading">
                                 <h4 class="tp-wrap-course__title mb-20"><a href="course-details.html">Master Web Design in Photoshop: Complete UI/UX Masterclass</a></h4>
                              </div>
                              <div class="tpcourse__meta tp-course-line pb-20 mb-25">
                                 <ul class="d-flex align-items-center">
                                    <li><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <span>35 Classes</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <span>291 Students</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-03.png' %}" alt="meta-icon"> <span>4.7</span></li>
                                 </ul>
                              </div>
                              <div class="tpcourse__category c-price-list d-flex align-items-center justify-content-between">
                                 <h5 class="tpcourse__course-price c-price-pac">$29.99</h5>
                                 <ul class="tpcourse__price-list  d-flex align-items-center">
                                    <li><a href="course-details.html">Design</a></li>
                                    <li><a href="course-details.html">Development</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="tpcourse tp-wrap-course mb-40">
                     <div class="row">
                        <div class="col-xl-4 tpcourse-thumb-w">
                           <div class="tpcourse__thumb p-relative w-img fix">
                              <a href="course-details.html"><img src="{% static 'assets/img/course/course-img-02.jpg' %}" alt="course-thumb"></a>
                           </div>
                        </div>
                        <div class="col-xl-8 tpcourse-thumb-text">
                           <div class="tp-wrap-course__content ml-5">
                              <div class="tp-wrap-course__heading">
                                 <h4 class="tp-wrap-course__title mb-20"><a href="course-details.html">How to Write Great Web Content - Better Search Rankings!</a></h4>
                              </div>
                              <div class="tpcourse__meta tp-course-line pb-20 mb-25">
                                 <ul class="d-flex align-items-center">
                                    <li><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <span>35 Classes</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <span>291 Students</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-03.png' %}" alt="meta-icon"> <span>4.7</span></li>
                                 </ul>
                              </div>
                              <div class="tpcourse__category c-price-list d-flex align-items-center justify-content-between">
                                 <h5 class="tpcourse__course-price c-price-pac">$29.99</h5>
                                 <ul class="tpcourse__price-list d-flex align-items-center">
                                    <li><a href="course-details.html">Design</a></li>
                                    <li><a href="course-details.html">Development</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="tpcourse tp-wrap-course mb-40">
                     <div class="row">
                        <div class="col-xl-4 tpcourse-thumb-w">
                           <div class="tpcourse__thumb p-relative w-img fix">
                              <a href="course-details.html"><img src="{% static 'assets/img/course/course-img-03.jpg' %}" alt="course-thumb"></a>
                           </div>
                        </div>
                        <div class="col-xl-8 tpcourse-thumb-text">
                           <div class="tp-wrap-course__content ml-5">
                              <div class="tp-wrap-course__heading">
                                 <h4 class="tp-wrap-course__title mb-20"><a href="course-details.html">Dreamweaver - Coding your first website using Dreamweaver</a></h4>
                              </div>
                              <div class="tpcourse__meta tp-course-line pb-20 mb-25">
                                 <ul class="d-flex align-items-center">
                                    <li><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <span>35 Classes</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <span>291 Students</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-03.png' %}" alt="meta-icon"> <span>4.7</span></li>
                                 </ul>
                              </div>
                              <div class="tpcourse__category c-price-list d-flex align-items-center justify-content-between">
                                 <h5 class="tpcourse__course-price c-price-pac">$29.99</h5>
                                 <ul class="tpcourse__price-list d-flex align-items-center">
                                    <li><a href="course-details.html">Design</a></li>
                                    <li><a href="course-details.html">Development</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="tpcourse tp-wrap-course mb-40">
                     <div class="row">
                        <div class="col-xl-4 tpcourse-thumb-w">
                           <div class="tpcourse__thumb p-relative w-img fix">
                              <a href="course-details.html"><img src="{% static 'assets/img/course/course-img-04.jpg' %}" alt="course-thumb"></a>
                           </div>
                        </div>
                        <div class="col-xl-8 tpcourse-thumb-text">
                           <div class="tp-wrap-course__content ml-5">
                              <div class="tp-wrap-course__heading">
                                 <h4 class="tp-wrap-course__title mb-20"><a href="course-details.html">WordPress 2022: The Complete WordPress Website Course</a></h4>
                              </div>
                              <div class="tpcourse__meta tp-course-line pb-20 mb-25">
                                 <ul class="d-flex align-items-center">
                                    <li><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <span>35 Classes</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <span>291 Students</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-03.png' %}" alt="meta-icon"> <span>4.7</span></li>
                                 </ul>
                              </div>
                              <div class="tpcourse__category c-price-list d-flex align-items-center justify-content-between">
                                 <h5 class="tpcourse__course-price c-price-pac">$29.99</h5>
                                 <ul class="tpcourse__price-list d-flex align-items-center">
                                    <li><a href="course-details.html">Design</a></li>
                                    <li><a href="course-details.html">Development</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="tpcourse tp-wrap-course mb-40">
                     <div class="row">
                        <div class="col-xl-4 tpcourse-thumb-w">
                           <div class="tpcourse__thumb p-relative w-img fix">
                              <a href="course-details.html"><img src="{% static 'assets/img/course/course-img-05.jpg' %}" alt="course-thumb"></a>
                           </div>
                        </div>
                        <div class="col-xl-8 tpcourse-thumb-text">
                           <div class="tp-wrap-course__content ml-5">
                              <div class="tp-wrap-course__heading">
                                 <h4 class="tp-wrap-course__title mb-20"><a href="course-details.html">SEO: Structured Data & Schema Markup for Webmasters</a></h4>
                              </div>
                              <div class="tpcourse__meta tp-course-line pb-20 mb-25">
                                 <ul class="d-flex align-items-center">
                                    <li><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <span>35 Classes</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <span>291 Students</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-03.png' %}" alt="meta-icon"> <span>4.7</span></li>
                                 </ul>
                              </div>
                              <div class="tpcourse__category c-price-list d-flex align-items-center justify-content-between">
                                 <h5 class="tpcourse__course-price c-price-pac">$29.99</h5>
                                 <ul class="tpcourse__price-list d-flex align-items-center">
                                    <li><a href="course-details.html">Design</a></li>
                                    <li><a href="course-details.html">Development</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12">
                  <div class="tpcourse tp-wrap-course mb-40">
                     <div class="row">
                        <div class="col-xl-4 tpcourse-thumb-w">
                           <div class="tpcourse__thumb p-relative w-img fix">
                              <a href="course-details.html"><img src="{% static 'assets/img/course/course-img-06.jpg' %}" alt="course-thumb"></a>
                           </div>
                        </div>
                        <div class="col-xl-8 tpcourse-thumb-text">
                           <div class="tp-wrap-course__content ml-5">
                              <div class="tp-wrap-course__heading">
                                 <h4 class="tp-wrap-course__title mb-20"><a href="course-details.html">Complete Web Design from Figma to Webflow to Freelancing</a></h4>
                              </div>
                              <div class="tpcourse__meta tp-course-line pb-20 mb-25">
                                 <ul class="d-flex align-items-center">
                                    <li><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <span>35 Classes</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <span>291 Students</span></li>
                                    <li><img src="{% static 'assets/img/icon/c-meta-03.png' %}" alt="meta-icon"> <span>4.7</span></li>
                                 </ul>
                              </div>
                              <div class="tpcourse__category c-price-list d-flex align-items-center justify-content-between">
                                 <h5 class="tpcourse__course-price c-price-pac">$29.99</h5>
                                 <ul class="tpcourse__price-list d-flex align-items-center">
                                    <li><a href="course-details.html">Design</a></li>
                                    <li><a href="course-details.html">Development</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- course-area-end -->     

      <!-- counter-area -->
      <section class="tp-counter-area pb-60">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-user"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">276</span>K</h4>
                        <p>Worldwide Students</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-document"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">23</span>+</h4>
                        <p>Years Experience</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-apps"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">735</span>+</h4>
                        <p>Professional Courses</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-star"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">4.7</span>K+</h4>
                        <p>Beautiful Review</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- counter-area-end -->
      
      <!-- choose-area -->
      <section class="choose-area bg-bottom grey-bg pt-120 pb-90" data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-5 col-lg-6 col-md-12">
                  <div class="tp-choose-content mb-30">
                     <div class="section-title mb-25">
                        <span class="tp-sub-title-box mb-15">Tính năng nổi bật</span>
                        <h2 class="tp-section-title mb-20">3 LÝ DO BẠN NÊN HỌC ONLINE TẠI UNICA</h2>
                        <p>Đồng hành cùng bạn trên hành trình phát triển bản thân.</p>
                     </div>
                     <div class="tp-choose-list tp-choose-bg mb-60">
                        <ul>
                           <li>
                              <div class="tp-list-bg">
                                 <i class="fa-light fa-check"></i>Giảng viên uy tín - Bài giảng chất lượng
                              </div>
                           </li>
                           <li>
                              <div class="tp-list-bg">
                                 <i class="fa-light fa-check"></i>Thanh toán 1 lần - Học mãi mãi
                              </div>
                           </li>
                           <li>
                              <div class="tp-list-bg">
                                 <i class="fa-light fa-check"></i>Học trực tuyến - Hỗ trợ trực tiếp
                              </div>
                           </li>
                        </ul>
                     </div>
                     <div class="choose-btn">
                        <a href="about.html" class="tp-btn">More Details</a>
                     </div>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-6 col-md-12">
                  <div class="tp-choose-img tp-choose-img-2 p-relative mb-30 mr-50 text-end">
                     <img src="{% static 'assets/img/bg/choose-2-img.jpg' %}" alt="choose-img">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- choose-area-end -->

      <!-- instructor-area -->
      <section class="instructor-area pt-110 pb-110">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title mb-35 text-center">
                     <span class="tp-sub-title-box mb-15">Instructor</span>
                     <h2 class="tp-section-title">Our Expert Instructor</h2>
                  </div>
               </div>
            </div>
            <div class="intruc-active-two mb-15 tp-slide-space">
               <div class="tp-instruc-item">
                  <div class="tp-instructor text-center p-relative mb-30">
                     <div class="tp-instructor__thumb mb-25">
                        <img src="{% static 'assets/img/bg/instructor-bg-01.jpg' %}" alt="instructor-profile">
                     </div>
                     <div class="tp-instructor__content">
                        <span>Instructor</span>
                        <h4 class="tp-instructor__title tp-instructor__title-info p-relative mb-35 mt-5"><a href="instructor-profile.html">Brooklyn Simmons</a></h4>
                        <div class="tp-instructor__stu-info">
                           <ul class="d-flex align-items-center justify-content-center">
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <i>35 Classes</i></li>
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <i>291+ Students</i></li>
                           </ul>
                        </div>
                        <div class="tp-instructor__social">
                           <ul>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-facebook-f"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-twitter"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-instagram"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-youtube"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tp-instruc-item">
                  <div class="tp-instructor text-center p-relative mb-30">
                     <div class="tp-instructor__thumb mb-25">
                        <img src="{% static 'assets/img/bg/instructor-bg-02.jpg' %}" alt="instructor-profile">
                     </div>
                     <div class="tp-instructor__content">
                        <span>Instructor</span>
                        <h4 class="tp-instructor__title tp-instructor__title-info p-relative mb-35 mt-5"><a href="instructor-profile.html">Courtney Henry</a></h4>
                        <div class="tp-instructor__stu-info">
                           <ul class="d-flex align-items-center justify-content-center">
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <i>35 Classes</i></li>
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <i>291+ Students</i></li>
                           </ul>
                        </div>
                        <div class="tp-instructor__social">
                           <ul>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-facebook-f"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-twitter"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-instagram"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-youtube"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tp-instruc-item">
                  <div class="tp-instructor text-center p-relative mb-30">
                     <div class="tp-instructor__thumb mb-25">
                        <img src="{% static 'assets/img/bg/instructor-bg-03.jpg' %}" alt="instructor-profile">
                     </div>
                     <div class="tp-instructor__content">
                        <span>Instructor</span>
                        <h4 class="tp-instructor__title tp-instructor__title-info p-relative mb-35 mt-5"><a href="instructor-profile.html">Cameron Williamson</a></h4>
                        <div class="tp-instructor__stu-info">
                           <ul class="d-flex align-items-center justify-content-center">
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <i>35 Classes</i></li>
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <i>291+ Students</i></li>
                           </ul>
                        </div>
                        <div class="tp-instructor__social">
                           <ul>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-facebook-f"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-twitter"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-instagram"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-youtube"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tp-instruc-item">
                  <div class="tp-instructor text-center p-relative mb-30">
                     <div class="tp-instructor__thumb mb-25">
                        <img src="{% static 'assets/img/bg/instructor-bg-04.jpg' %}" alt="instructor-profile">
                     </div>
                     <div class="tp-instructor__content">
                        <span>Instructor</span>
                        <h4 class="tp-instructor__title tp-instructor__title-info p-relative mb-35 mt-5"><a href="instructor-profile.html">Brooklyn Simmons</a></h4>
                        <div class="tp-instructor__stu-info">
                           <ul class="d-flex align-items-center justify-content-center">
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <i>35 Classes</i></li>
                              <li class="d-flex align-items-center"><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <i>291+ Students</i></li>
                           </ul>
                        </div>
                        <div class="tp-instructor__social">
                           <ul>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-facebook-f"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-twitter"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-instagram"></i></a></li>
                              <li><a href="instructor-profile.html"><i class="fa-brands fa-youtube"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="instructor-btn text-center">
                     <a class="tp-btn" href="instructor.html">All Instructor</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- instructor-area-enfd -->

      <!-- testimonial-area -->
      <section class="testimonial-white-area pb-90">
         <div class="container">
            <div class="row justify-content-between">
               <div class="col-lg-6 col-md-8">
                  <div class="section-title mb-35">
                     <span class="tp-sub-title-box mb-15">Testimonial</span>
                     <h2 class="tp-section-title mb-20">4700+ Happy Students</h2>
                  </div>
               </div>
               <div class="col-6 col-md-4">
                  <div class="tp-section-arrow d-flex justify-content-md-end"></div>
               </div>
            </div>
            <div class="testimonial--active tp-slide-space">
               <div class="tp-test-s-item">
                  <div class="tp-testi">
                     <div class="tp-testi__ava d-flex align-items-center mb-15">
                        <img src="{% static 'assets/img/icon/test-avata--1.png' %}d" alt="testi-avatar">
                        <div class="tp-testi__avainfo ml-20">
                           <h3 class="tp-testi__title mt-5"><a href="#">Wade Warren</a></h3>
                           <i>UX/UI Designer</i>
                        </div>
                     </div>
                     <p>Phosfluorescently aggregate bleeding-edge channels rather than global mindshare. Monotonectally enable enterprise wide strategic theme areas for worldwide initiatives. </p>
                     <div class="tp-testi__rating mb-5">
                        <ul class="d-flex align-items-center">
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-rs-star"></i></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="tp-test-s-item">
                  <div class="tp-testi">
                     <div class="tp-testi__ava d-flex align-items-center mb-15">
                        <img src="{% static 'assets/img/icon/test-avata--2.png' %}" alt="testi-avatar">
                        <div class="tp-testi__avainfo ml-20">
                           <h3 class="tp-testi__title mt-5"><a href="#">Guy Hawkins</a></h3>
                           <i>Software Engineer</i>
                        </div>
                     </div>
                     <p>Phosfluorescently aggregate bleeding-edge channels rather than global mindshare. Monotonectally enable enterprise wide strategic theme areas for worldwide initiatives. </p>
                     <div class="tp-testi__rating mb-5">
                        <ul class="d-flex align-items-center">
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-rs-star"></i></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="tp-test-s-item">
                  <div class="tp-testi">
                     <div class="tp-testi__ava d-flex align-items-center mb-15">
                        <img src="{% static 'assets/img/icon/test-avata--1.png' %}" alt="testi-avatar">
                        <div class="tp-testi__avainfo ml-20">
                           <h3 class="tp-testi__title mt-5"><a href="#">Courtney Henry</a></h3>
                           <i>Sr. UX/UI Designer</i>
                        </div>
                     </div>
                     <p>Phosfluorescently aggregate bleeding-edge channels rather than global mindshare. Monotonectally enable enterprise wide strategic theme areas for worldwide initiatives. </p>
                     <div class="tp-testi__rating mb-5">
                        <ul class="d-flex align-items-center">
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-ss-star"></i></li>
                           <li><i class="fi fi-rs-star"></i></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- testimonial-area-end -->      
      
      <!-- suitable-area -->
      <section class="suitable-area bg-bottom grey-bg pt-115 pb-90" data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
         <div class="container">
            <div class="row text-center">
               <div class="col-lg-12">
                  <div class="section-title mb-60">
                     <span class="tp-sub-title-box mb-15">Join With Us</span>
                     <h2 class="tp-section-title">Which One is Suitable For You?</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-12">
                  <div class="tp-suit mb-30 p-relative white-bg">
                     <div class="tp-suit__content">
                        <h4 class="tp-suit__title">Do you want to <span>Learn</span> here?</h4>
                        <p>Dramatically supply transpa deliverables before & you.</p>
                        <div class="tp-suit__btn pt-5">
                           <a href="contact.html" class="tp-border-btn">Join Now</a>
                        </div>
                     </div>
                     <div class="tp-suit__img">
                        <img src="{% static 'assets/img/bg/suit-bg-01.png' %}" alt="suitable-img">
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-12">
                  <div class="tp-suit mb-30 p-relative white-bg">
                     <div class="tp-suit__content">
                        <h4 class="tp-suit__title">Do you want to <span>Teach</span> here?</h4>
                        <p>Dramatically supply transpa deliverables before & you.</p>
                        <div class="tp-suit__btn pt-5">
                           <a href="contact.html" class="tp-border-btn">Join Now</a>
                        </div>
                     </div>
                     <div class="tp-suit__tech">
                        <img src="{% static 'assets/img/bg/suit-bg-02.png' %}" alt="suitable-img">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- suitable-area-end -->

      <!-- blog-area -->
      <section class="blog-area pt-115 pb-110">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title mb-65 text-center">
                     <span class="tp-sub-title-box mb-15">Latest Blogs</span>
                     <h2 class="tp-section-title mb-20">Latest Blogs & News</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <div class="tp-blog mb-60">
                     <div class="tp-blog__thumb p-relative">
                        <div class="fix blog-round">
                          <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-thumb--1.jpg' %}" alt="blog-img"></a>
                        </div>
                        <div class="tp-blog__meta-ab">
                           <a href="blog-details.html">Education</a> <span>-</span> 
                           <a href="blog-details.html">Jan 21 , 2022</a>
                        </div>
                     </div>
                     <div class="tp-blog__content blog-box p-relative">
                        <h3 class="tp-blog__title mb-15 mt-20"><a href="blog-details.html">Educational Technology & Mobile Learning</a></h3>
                        <p>Dramatically supply transparent deliverab before & you backward comp internal.</p>
                        <span><i class="fi fi-rr-clock"></i> 2 minute read</span>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="tp-blog mb-60">
                     <div class="tp-blog__thumb p-relative">
                        <div class="fix blog-round">
                           <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-thumb--3.png' %}" alt="blog-img"></a>
                        </div>
                        <div class="tp-blog__meta-ab">
                           <a href="blog-details.html">Education</a> <span>-</span> 
                           <a href="blog-details.html">Jan 21 , 2022</a>
                        </div>
                     </div>
                     <div class="tp-blog__content blog-box p-relative">
                        <h3 class="tp-blog__title mb-15 mt-20"><a href="blog-details.html">Computer Technology & Language Learning</a></h3>
                        <p>Dramatically supply transparent deliverab before & you backward comp internal.</p>
                        <span><i class="fi fi-rr-clock"></i> 2 minute read</span>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6">
                  <div class="tp-blog mb-60">
                     <div class="tp-blog__thumb p-relative">
                        <div class="fix blog-round">
                           <a href="blog-details.html"><img src="{% static 'assets/img/blog/blog-sub-thumb-03.jpg' %}" alt="blog-img"></a>
                        </div>
                        <div class="tp-blog__meta-ab">
                           <a href="blog-details.html">Education</a> <span>-</span> 
                           <a href="blog-details.html">Jan 21 , 2022</a>
                        </div>
                     </div>
                     <div class="tp-blog__content blog-box p-relative">
                        <h3 class="tp-blog__title mb-15 mt-20"><a href="blog-details.html">Electric Technology & Basic Skill Learning</a></h3>
                        <p>Dramatically supply transparent deliverab before & you backward comp internal.</p>
                        <span><i class="fi fi-rr-clock"></i> 2 minute read</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="blog-btn text-center">
                     <a href="blog-masonry.html" class="tp-btn">All Blog</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- blog-area-end -->


   </main>
{% endblock content%}