{% extends 'header.html'%}
{% block title%}E-Learning Khóa học online{% endblock title%}
{% block content %}
{% load humanize %}
{% load my_filters %}
{% load static %}
<main>
      <!-- slider-a  rea -->
      <section class="slider-area">
         <div class="slider-active slider-arrow">
            <div class="slider-item slider-bg-height d-flex align-items-center p-relative" data-background="{% static 'assets/img/slider/slider-bg-01.jpg' %}">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-7 col-lg-7 col-12">
                        <div class="slider-content">
                           <span class="slider-text mb-15">Marketing từ căn bản đến chuyên sâu</span>
                           <h2 class="slider-title mb-65">Học và hiểu đúng về Marketing.</h2>
                           <div class="slider-btn">
                              <a class="tp-btn mr-5" href="/course">Khám phá các khóa học</a>
                              <a class="tp-s-border-btn" href="course-list.html">Xem video demo</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="slider-item slider-bg-height d-flex align-items-center p-relative" data-background="{% static 'assets/img/slider/slider-bg-02.jpg' %}">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-7 col-lg-7">
                        <div class="slider-content">
                           <span class="slider-text mb-15">Tin học văn phòng</span>
                           <h2 class="slider-title mb-65">Thành Thạo Tin Học Văn Phòng Word-Excel-Powerpoint</h2>
                           <div class="slider-btn">
                              <a class="tp-btn mr-5" href="/course">Khám phá các khóa học</a>
                              <a class="tp-s-border-btn" href="course-list.html">Xem video demo</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- slider-area-end -->

      <!-- brand-area -->
      <section class="brand-area pt-110 pb-70">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title mb-65 text-center">
                     <h2 class="tp-section-title mb-20">ĐỐI TÁC CHÍNH THỨC</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-12">
                  <div class="brand-area tp-brand-active">
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-01.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-02.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-03.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-04.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-05.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-01.png' %}" alt="brand-logo"></a>
                     </div>
                     <div class="brand-item">
                        <a href="#"><img src="{% static 'assets/img/icon/brand-icon-02.png' %}" alt="brand-logo"></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- brand-area-end -->

 <!-- course-area -->
      <section class="course-wrap-area bg-bottom grey-bg pt-115 pb-60" data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-xl-6 col-lg-8 col-md-8">
                  <div class="section-title mb-65">
                     <span class="tp-sub-title-box mb-15">Danh sách khóa học</span>
                     <h2 class="tp-section-title mb-20">Khóa học nổi bật</h2>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-4 col-md-4">
                  <div class="tp-course-btn mb-40 d-flex justify-content-md-end">
                     <a class="tp-btn" href="/course">Xem tất cả các khóa học</a>
                  </div>
               </div>
            </div>
            <div class="row">
               {% for item in Courses %}
                  <div class="col-lg-6 col-md-12">
                     <div class="tpcourse tp-wrap-course mb-40">
                        <div class="row">
                           <div class="col-xl-4 tpcourse-thumb-w">
                              <div class="tpcourse__thumb p-relative w-img fix">
                                 <a href="{% url 'course:course_details' item.slug %}"><img src="/media/{{item.image}}" alt="course-thumb"></a>
                              </div>
                              <div class="tp-wrap-course__content ml-5 mt-10">
                                 <div class="tp-wrap-course__heading">
                                    <h2 class="tp-wrap-course__title mb-20"><a href="{% url 'course:course_details' item.slug %}">{{ item.name }}</a></h2>
                                 </div>
                                 <div class="tpcourse__meta tp-course-line pb-20 mb-25">
                                    <ul class="d-flex align-items-center">
                                       <li><img src="{% static 'assets/img/icon/c-meta-01.png' %}" alt="meta-icon"> <span>35 Classes</span></li>
                                       <li><img src="{% static 'assets/img/icon/c-meta-02.png' %}" alt="meta-icon"> <span>291 Students</span></li>
                                       <li><img src="{% static 'assets/img/icon/c-meta-03.png' %}" alt="meta-icon"> <span>4.7</span></li>
                                    </ul>
                                 </div>
                                 <div class="tpcourse__category c-price-list d-flex align-items-center justify-content-between">
                                    <h5 class="tpcourse__course-price c-price-pac">
                                       {{item.price|currency}}
                                    </h5>
                                    
                                    <ul class="tpcourse__price-list  d-flex align-items-center">
                                       <li><a href="{% url 'course:course_details' item.slug %}">{{item.type_course}}</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </section>
      <!-- course-area-end --> 

      <!-- catrgory-area -->
      <section class="category-ractangle-area pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-01.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Thiết kế đồ họa</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-02.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Phát triển bản thân</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-03.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Marketing</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-04.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Lập trình - CNTT</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-05.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Dựng hình Video</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-06.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Văn phòng</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-07.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.html">Nhiếp ảnh</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                  <div class="tp-cat-item tp-rec-item mb-35">
                     <div class="tp-category-icon mb-30">
                        <img src="{% static 'assets/img/category/category-08.png' %}" alt="category-img">
                     </div>
                     <h4 class="tp-category-title tp-r-cat-title"><a href="course-grid.htmcourse-details.html">Âm nhạc - Nhạc cụ</a></h4>
                     <p>26 Khóa Học</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- catrgory-area-end --> 
      
      <!-- counter-area -->
      <section class="tp-counter-area pb-60">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-user"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">276</span>K</h4>
                        <p>Học viên</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-document"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">23</span>+</h4>
                        <p>Năm kinh nghiệm</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-apps"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">735</span>+</h4>
                        <p>Khóa học chuyên nghiệp</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-md-6">
                  <div class="counter-item mb-60 text-center">
                     <div class="counter-item__icon mb-25">
                        <i class="fi fi-rr-star"></i>
                     </div>
                     <div class="counter-item__content">
                        <h4 class="counter-item__title"><span class="counter">4.7</span>K+</h4>
                        <p>Đánh giá tốt</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- counter-area-end -->  
      
      <!-- suitable-area -->
      <section class="suitable-area bg-bottom grey-bg pt-115 pb-90" data-background="{% static 'assets/img/bg/shape-bg-1.png' %}">
         <div class="container">
            <div class="row text-center">
               <div class="col-lg-12">
                  <div class="section-title mb-60">
                     <span class="tp-sub-title-box mb-15">Tham gia các khóa học ngay</span>
                     <h2 class="tp-section-title">Đâu là khóa học dành cho bạn?</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-12">
                  <div class="tp-suit mb-30 p-relative white-bg">
                     <div class="tp-suit__content">
                        <h4 class="tp-suit__title">Tham gia các khóa học về <span>Công nghệ thông tin</span></h4>
                        <p>Các khóa học nâng cao giúp bạn làm chủ các ngôn ngữ lập trình.</p>
                        <div class="tp-suit__btn pt-5">
                           <a href="contact.html" class="tp-border-btn">Tham gia ngay</a>
                        </div>
                     </div>
                     <div class="tp-suit__img">
                        <img src="{% static 'assets/img/bg/suit-bg-01.png' %}" alt="suitable-img">
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-12">
                  <div class="tp-suit mb-30 p-relative white-bg">
                     <div class="tp-suit__content">
                        <h4 class="tp-suit__title">Tham gia các khóa học về <span>Tin học văn phòng</span></h4>
                        <p>Tin học văn phòng căn bản và nâng cao, cải thiện khả năng sử dụng phần mềm.</p>
                        <div class="tp-suit__btn pt-5">
                           <a href="contact.html" class="tp-border-btn">Tham gia ngay</a>
                        </div>
                     </div>
                     <div class="tp-suit__tech">
                        <img src="{% static 'assets/img/bg/suit-bg-02.png' %}" alt="suitable-img">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- suitable-area-end -->

      <!-- blog-area -->
      <section class="blog-area pt-70 pb-70">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section-title mb-65 text-center">
                     <span class="tp-sub-title-box mb-15">Tin tức</span>
                     <h2 class="tp-section-title mb-20">Tin tức & bài viết mới nhất</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               {% for item in blogs %}
                  <div class="col-lg-4 col-md-6">
                     <div class="tp-blog mb-60">
                        <div class="tp-blog__thumb p-relative">
                           <div class="fix blog-round">
                           <a href="{% url 'blog:blog_details' item.slug %}"><img src="/media/{{item.image}}" alt="blog-img"></a>
                           </div>
                           <div class="tp-blog__meta-ab">
                              <a href="{% url 'blog:blog_details' item.slug %}"></a>
                           </div>
                        </div>
                        <div class="tp-blog__content blog-box p-relative">
                           <h3 class="tp-blog__title mb-15 mt-20"><a href="{% url 'blog:blog_details' item.slug %}">{{ item.title }}</a></h3>
                           <p></p>
                           <span><i class="fi fi-rr-clock"></i>{{ item.created }}</span>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="blog-btn text-center">
                     <a href="{% url 'blog:blog_list' %}" class="tp-btn">Tất cả bài viết</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- blog-area-end -->


   </main>
{% endblock content%}