{% extends 'header.html'%} {% block title%}{{course.name}}{% endblock title%}
{%block content %} {% load my_filter %} {% load static %} {% load humanize %}
<!-- course-details-area -->
<section class="c-details-area pt-30 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="c-details-wrapper mr-25">
          <div class="c-details-thumb p-relative mb-40">
            <img src="/media/{{course.image}}" alt="details-bg" />
          </div>
          <div class="course-details-content mb-45">
            <div class="tpcourse__category mb-15">
              <ul class="tpcourse__price-list d-flex align-items-center">
                <li>
                  <a class="c-color-green" href="#">{{course.type_course}}</a>
                </li>
              </ul>
            </div>
            <div class="tpcourse__ava-title mb-25">
              <h4 class="c-details-title"><a href="#">{{course.name}}</a></h4>
            </div>
            <div class="tpcourse__meta course-details-list">
              <ul class="d-flex align-items-center">
                <li>
                  <div class="rating-gold d-flex align-items-center">
                    <p>4.7</p>
                    <i class="fi fi-ss-star"></i>
                    <i class="fi fi-ss-star"></i>
                    <i class="fi fi-ss-star"></i>
                    <i class="fi fi-ss-star"></i>
                    <i class="fi fi-rs-star"></i>
                    <span>(125)</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="c-details-about mb-40">
            <h5 class="tp-c-details-title mb-20">Về khóa học này</h5>
            {{course.description|safe|linebreaks}}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="c-details-sidebar">
          <div class="c-video-thumb p-relative mb-25">
            {{course.video_intro|safe}}
          </div>
          <div class="course-details-widget">
            <div class="cd-video-price">
              <h3 class="pricing-video text-center mb-15">
                {% if course.type == 'Free' %} Miễn Phí {% else %}
                {{course.price|currency}} {% endif %}
              </h3>
              <div class="cd-pricing-btn text-center mb-30">
                {% if course.type == 'Free' %}
                <a class="tp-vp-btn" href="/course/learn/{{ course.slug }}"
                  >Tham gia ngay</a
                >
                {% else %} {% if course.id in cart.keys %}
                <a class="tp-vp-btn-green" href="{% url 'cart:cart_details' %}"
                  >Xem giỏ hàng</a
                >
                {% elif status == 1 %}
                <a class="tp-vp-btn" href="/course/learn/{{ course.slug }}"
                  >Vào học ngay</a
                >
                {% else %}
                <form method="POST" action="{% url 'cart:add_course' %}">
                  {% csrf_token %}
                  <input type="hidden" name="course_id" value="{{course.id}}" />
                  <button
                    class="btn-course tp-vp-btn-green"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Mua khóa học
                  </button>
                </form>
                {% endif %} {% endif %}
              </div>
            </div>
            <div class="cd-information mb-35">
              <ul>
                <li>
                  <i class="fa-light fa-calendars"></i> <label>Số Chương</label>
                  <span>{{total_lessons}}</span>
                </li>
                <li>
                  <i class="fi fi-rr-user"></i> <label>Số học viên</label>
                  <span>105</span>
                </li>
                <li>
                  <i class="fi fi-sr-stats"></i> <label>Trình độ</label>
                  <span>Bắt đầu học python</span>
                </li>
                <li>
                  <i class="fi fi-rr-comments"></i> <label>Ngôn ngữ</label>
                  <span>Python</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- course-details-area-end -->
{% endblock content%}
