{% extends 'header.html' %} {% block title %} Giỏ hàng {% endblock title %}
{% block content %}
<h1 class="display-4 mt-4 text-center">Giỏ hàng</h1>
{% if cart_items %}
<!-- cart area -->
<section class="cart-area pt-100 pb-100">
  <div class="container">
    <div class="row">
     <div class="col-12">
           <form action="#">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                        <th class="product-thumbnail">#</th>
                        <th class="cart-product-name">Tên khóa học</th>
                        <th class="product-price">Giá</th>
                        <th class="product-remove">Xóa</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in cart_items %}
                      <tr>
                          <td class="product-thumbnail"><a href="{% url 'course:course_details' item.slug %}"><img src="/media/{{ item.image }}" alt=""></a></td>
                          <td class="product-name"><a href="{% url 'course:course_details' item.slug %}"> {{ item.name }} </a></td>
                          <td class="product-price"><span class="amount"> {{item.price}} VNĐ</span></td>
                          <td class="product-remove"><a href="{% url 'cart:remove' item.id %}"><i class="fa fa-times"></i></a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="row justify-content-end">
                <div class="col-md-5 ">
                      <div class="cart-page-total">
                          <h2>Tổng giỏ hàng  : {{ total_price }} VNĐ</h2>
                          <a class="tp-btn" href="{% url 'orders:place' %}">Thanh toán</a>
                      </div>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</section>
<!-- cart area end-->   
{% comment %} <div class="text-center">
  <a href="{% url 'cart:clear' %}" class="btn btn-warning">Làm sạch giỏ</a>
  <a href="{% url 'orders:place' %}" class="btn btn-success">Thanh Toán</a>
</div> {% endcomment %}
{% else %}
<div class="text-center">
  <h3 class="font-weight-light">Giỏ hàng trống</h3>
  <a href="{% url 'store:product_list' %}" class="btn btn-secondary">
    Trở lại cửa hàng
  </a>
</div>
{% endif %}
<script>
  let inputs = document.querySelectorAll("input.form-control");
  inputs.forEach((i) => i.classList.add("form-control-sm"));
</script>
{% endblock content %}
