.collapsible {
    font-weight: 600;
    cursor: pointer;
    padding:12px 12px 5px 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;  
    
    }
  
.topic-border{
  border-color: #dddddd;
  border-bottom: 1px groove ;
}

.content-lesson {
  line-height: 20px;
  padding: 0px 0px 0px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.leeson-title{
  margin: 10px 0 14px 0;
  font-size: 20px;  
}

.leeson-title:hover {
  color: #428bca; 
}

.btn-course{
  width: 100%;
}

.img-access{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
