{% extends 'header.html' %} {% load crispy_forms_tags %} {% block title %} Đăng nhập
{% endblock title %} {% block content %}
<!-- login-area-strat -->
<section class="login-area pt-40 pb-40">
    <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login">
                      <h3 class="text-center mb-60">Đăng Nhập</h3>
                      <form method="POST">
                      {% csrf_token %} {{form|crispy}}
                        <div class="mt-2 mb-10"><a href="{% url 'password_reset' %}">Quên mật khẩu ?</a></div>
                        <button class="tp-btn w-100">Đăng nhập</button>
                        <div class="or-divide"><span>hoặc</span></div>
                        <a href="{% url 'register' %}" class="tp-border-btn w-100">Đăng ký ngay</a>
                      </form>
                </div>
            </div>
          </div>
    </div>
</section>
<!-- login-area-strat-end --> 
{% endblock content %}
