{% extends 'header.html' %} {% load crispy_forms_tags %} 
{% block title %}Đăng ký{% endblock title %} 
{% block content %}
<!-- register-area-strat -->
<section class="login-area pt-40 pb-50">
    <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login">
                      <h3 class="text-center mb-60">Đăng ký tài khoản</h3>
                      <form method="POST">
                        {% csrf_token %} {{form|crispy}}
                        <div class="mt-10"></div>
                        <button class="tp-btn w-100">Đăng ký</button>
                        <div class="or-divide"><span>hoặc</span></div>
                        <a href="{% url 'login' %}" class="tp-border-btn w-100">Đăng nhập ngay</a>
                      </form>
                </div>
            </div>
          </div>
    </div>
</section>
<!-- register-area-strat-end -->             
<div class="card card-body mx-auto my-4 auth-card shadow-sm">
{% endblock content %}
